html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./robot.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    filter: brightness(95%);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

#joke-container {
    margin: 15px;
    padding: 5px;
    min-width: 350px;
    min-height: 500px;
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 5px;
    border: 0px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.3);
}

#joke-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #050505;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .container {
        background-position: center center;
        background-size: cover;
    }
    button {
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5); 
    }
}